{% block content %}
<div class="hero overlay">
    <div class="hero__slider">
        <div class="hero__slider-item">
            <!--content-->
            <div class="hero__slider-content">
                <h2 class="hero__slider-title">We Are Awesome Creative Agency</h2>
                <p class="hero__slider-description">
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                    bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                    vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </p>
                <button class="btn hero__slider-btn">Learn more</button>
            </div>
            <!--./content-->

        </div>
        <div class="hero__slider-item">
            <!--content-->
            <div class="hero__slider-content">
                <h2 class="hero__slider-title">We Are Awesome Creative Agency</h2>
                <p class="hero__slider-description">
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                    bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                    vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </p>
                <button class="btn hero__slider-btn">Learn more</button>
            </div>
            <!--./content-->

        </div>

    </div>
</div>
{% endblock %}