<section class="about">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-xl-5">
                <div class="about__img-wrap">
                    <img src="img/about.png" alt="logo" class="about__img">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="about__descr-container">
                    <h3 class="about__title">our story</h3>
                    <p class="about__descr">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid minus cupiditate voluptas molestias sunt provident aperiam
                        iste repellendus soluta adipisci. Ullam mollitia porro ex ratione a, deseruntsed aperiam ad dolorum
                        eligendi, inventore dolores neque nam, facilis harum.
                    </p>
                    <p class="about__descr">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid minus cupiditate voluptas molestias sunt provident aperiam
                        iste repellendus soluta adipisci. Ullam mollitia porro ex ratione a, deserunt sed aperiam ad dolorum
                        eligendi, inventore dolores neque nam, facilis harum.
                    </p>
                    <button class="btn about__slider-btn">Learn more</button>
                </div>

            </div>
        </div>
    </div>
</section>